form > mat-form-field, form > span {
  width: 20rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: inline-block;
  text-align: center;
}

#forget {
  text-align: start;
  font-size: 0.9rem;
}

#submit-button {
  width: 8rem;
  height: 2.5rem;
}

