<mat-toolbar color="primary">
  <!-- 侧边栏通过这里切换 -->
  <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>销售宝</span>
</mat-toolbar>

<mat-drawer-container hasBackdrop="false">
  <mat-drawer #sidenav mode="side" opened>
    <mat-nav-list>
        <mat-list-item>
          <mat-icon class="nav-icon" matListItemIcon>shopping_cart</mat-icon>
          <div matListItemTitle>收银</div>
          <div matListItemLine>消费收款</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>warehouse</mat-icon>
          <div matListItemTitle>库存</div>
          <div matListItemLine>进入库</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>monitoring</mat-icon>
          <div matListItemTitle>数据</div>
          <div matListItemLine>历史账单</div>
        </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>这是主要内容</mat-drawer-content>
</mat-drawer-container>
