<div class="login-container">
  <div class="tip-container">
    <h3>已经有账号？</h3>
    <p>立刻登录</p>
    <span><a id="login-switch" [routerLink]="['/user/login']" mat-stroked-button>登陆</a></span>
  </div>

  <div class="form-container">
    <ng-container *ngComponentOutlet="components[currentIndex].component;inputs:components[currentIndex].inputs"></ng-container>
    <button mat-button color="primary" (click)="switchPrincipalField()">切换为{{ currentIndex == 0 ? "邮箱" : "手机号" }}注册</button>
  </div>
</div>
